.elementor-5 .elementor-element.elementor-element-2197e355:not(.elementor-motion-effects-element-type-background),
.elementor-5 .elementor-element.elementor-element-2197e355>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../apple-slide-1.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-5 .elementor-element.elementor-element-2197e355>.elementor-background-overlay {
    background-color: var(--e-global-color-primary);
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-2197e355 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 0px 0px;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    color: var(--e-global-color-primary);
}

.elementor-5 .elementor-element.elementor-element-421a76e>.elementor-widget-container {
    padding: 0px 50px 0px 50px;
}

.elementor-5 .elementor-element.elementor-element-421a76e {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-421a76e .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-size: 90px;
    font-weight: 800;
    line-height: 1.1em;
    color: #FFFFFF;
}

.elementor-widget-text-editor {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-5 .elementor-element.elementor-element-97c1248>.elementor-widget-container {
    padding: 0px 395px 0px 395px;
}

.elementor-5 .elementor-element.elementor-element-97c1248 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
}

.elementor-5 .elementor-element.elementor-element-0a1174c:not(.elementor-motion-effects-element-type-background),
.elementor-5 .elementor-element.elementor-element-0a1174c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F7F7F7;
}

.elementor-5 .elementor-element.elementor-element-0a1174c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 90px 0px 90px 0px;
}

.elementor-5 .elementor-element.elementor-element-0a1174c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-0b63de3>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-5 .elementor-element.elementor-element-13032e2 {
    padding: 0px 340px 20px 340px;
}

.elementor-widget-image-box .elementor-image-box-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
}

.elementor-widget-image-box .elementor-image-box-description {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
}

.elementor-5 .elementor-element.elementor-element-6d83268 .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-widget-button .elementor-button {
    background-color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
}

.elementor-5 .elementor-element.elementor-element-46117f3 .elementor-button {
    background-color: #00000000;
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-style: solid;
    border-color: var(--e-global-color-3677bc3a);
}

.elementor-5 .elementor-element.elementor-element-46117f3 .elementor-button:hover,
.elementor-5 .elementor-element.elementor-element-46117f3 .elementor-button:focus {
    background-color: var(--e-global-color-3677bc3a);
    color: #FFFFFF;
}

.elementor-5 .elementor-element.elementor-element-46117f3 .elementor-button:hover svg,
.elementor-5 .elementor-element.elementor-element-46117f3 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-5 .elementor-element.elementor-element-1076a49 {
    padding: 90px 0px 90px 0px;
}

.elementor-5 .elementor-element.elementor-element-5cb6aa2>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

.elementor-5 .elementor-element.elementor-element-5cb6aa2 {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-65d2446>.elementor-widget-container {
    padding: 0px 280px 0px 280px;
}

.elementor-5 .elementor-element.elementor-element-65d2446 {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-cd5562a {
    padding: 0px 0px 0px 0px;
}

.elementor-5 .elementor-element.elementor-element-986499c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-5 .elementor-element.elementor-element-986499c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("{% static 'wp-content/uploads/apples1.jpg' %}");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-5 .elementor-element.elementor-element-986499c>.elementor-element-populated>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #78AA0000 0%, var(--e-global-color-primary) 100%);
    opacity: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-5 .elementor-element.elementor-element-986499c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-5 .elementor-element.elementor-element-986499c:hover>.elementor-element-populated>.elementor-background-overlay {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-5 .elementor-element.elementor-element-986499c>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 300px 0px 50px 0px;
}

.elementor-5 .elementor-element.elementor-element-986499c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-29afaef>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-5 .elementor-element.elementor-element-29afaef {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-29afaef .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    color: #FFFFFF;
}

.elementor-5 .elementor-element.elementor-element-77e4858 .elementor-button {
    background-color: #22222200;
    fill: var(--e-global-color-25dbee63);
    color: var(--e-global-color-25dbee63);
    border-style: solid;
    border-color: var(--e-global-color-25dbee63);
}

.elementor-5 .elementor-element.elementor-element-77e4858 .elementor-button:hover,
.elementor-5 .elementor-element.elementor-element-77e4858 .elementor-button:focus {
    background-color: var(--e-global-color-3677bc3a);
    border-color: var(--e-global-color-3677bc3a);
}

.elementor-5 .elementor-element.elementor-element-39cd52c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-5 .elementor-element.elementor-element-39cd52c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../tomatos.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-5 .elementor-element.elementor-element-39cd52c>.elementor-element-populated>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #22222200 0%, var(--e-global-color-primary) 100%);
    opacity: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-5 .elementor-element.elementor-element-39cd52c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-5 .elementor-element.elementor-element-39cd52c>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 300px 0px 30px 0px;
}

.elementor-5 .elementor-element.elementor-element-39cd52c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-1918f0a>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-5 .elementor-element.elementor-element-1918f0a {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-1918f0a .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-size: 40px;
    color: #FFFFFF;
}

.elementor-5 .elementor-element.elementor-element-a82ef91 .elementor-button {
    background-color: #22222200;
    fill: var(--e-global-color-25dbee63);
    color: var(--e-global-color-25dbee63);
    border-style: solid;
    border-color: var(--e-global-color-25dbee63);
}

.elementor-5 .elementor-element.elementor-element-a82ef91 .elementor-button:hover,
.elementor-5 .elementor-element.elementor-element-a82ef91 .elementor-button:focus {
    background-color: var(--e-global-color-3677bc3a);
    border-color: var(--e-global-color-3677bc3a);
}

.elementor-5 .elementor-element.elementor-element-1bd3817:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-5 .elementor-element.elementor-element-1bd3817>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../watermelons.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-5 .elementor-element.elementor-element-1bd3817>.elementor-element-populated>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #22222200 0%, var(--e-global-color-primary) 100%);
    opacity: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-5 .elementor-element.elementor-element-1bd3817>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-5 .elementor-element.elementor-element-1bd3817>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 300px 0px 50px 0px;
}

.elementor-5 .elementor-element.elementor-element-1bd3817>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-bd75320>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-5 .elementor-element.elementor-element-bd75320 {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-bd75320 .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    color: #FFFFFF;
}

.elementor-5 .elementor-element.elementor-element-1d72b97 .elementor-button {
    background-color: #22222200;
    fill: var(--e-global-color-25dbee63);
    color: var(--e-global-color-25dbee63);
    border-style: solid;
    border-color: var(--e-global-color-25dbee63);
}

.elementor-5 .elementor-element.elementor-element-1d72b97 .elementor-button:hover,
.elementor-5 .elementor-element.elementor-element-1d72b97 .elementor-button:focus {
    background-color: var(--e-global-color-3677bc3a);
    border-color: var(--e-global-color-3677bc3a);
}

.elementor-5 .elementor-element.elementor-element-e48860c {
    padding: 020px 0px 0px 0px;
}

.elementor-5 .elementor-element.elementor-element-f0e1de7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-5 .elementor-element.elementor-element-f0e1de7>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../driedapricots.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-5 .elementor-element.elementor-element-f0e1de7>.elementor-element-populated>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #78AA0000 0%, var(--e-global-color-primary) 100%);
    opacity: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-5 .elementor-element.elementor-element-f0e1de7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-5 .elementor-element.elementor-element-f0e1de7:hover>.elementor-element-populated>.elementor-background-overlay {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-5 .elementor-element.elementor-element-f0e1de7>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 300px 0px 50px 0px;
}

.elementor-5 .elementor-element.elementor-element-f0e1de7>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-6498e8e>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-5 .elementor-element.elementor-element-6498e8e {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-6498e8e .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    color: #FFFFFF;
}

.elementor-5 .elementor-element.elementor-element-adcac67 .elementor-button {
    background-color: #22222200;
    fill: var(--e-global-color-25dbee63);
    color: var(--e-global-color-25dbee63);
    border-style: solid;
    border-color: var(--e-global-color-25dbee63);
}

.elementor-5 .elementor-element.elementor-element-adcac67 .elementor-button:hover,
.elementor-5 .elementor-element.elementor-element-adcac67 .elementor-button:focus {
    background-color: var(--e-global-color-3677bc3a);
    border-color: var(--e-global-color-3677bc3a);
}

.elementor-5 .elementor-element.elementor-element-f3dcb07:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-5 .elementor-element.elementor-element-f3dcb07>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../nuts-page-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-5 .elementor-element.elementor-element-f3dcb07>.elementor-element-populated>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #22222200 0%, var(--e-global-color-primary) 100%);
    opacity: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-5 .elementor-element.elementor-element-f3dcb07>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-5 .elementor-element.elementor-element-f3dcb07>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 300px 0px 30px 0px;
}

.elementor-5 .elementor-element.elementor-element-f3dcb07>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-a76303f>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-5 .elementor-element.elementor-element-a76303f {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-a76303f .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-size: 40px;
    color: #FFFFFF;
}

.elementor-5 .elementor-element.elementor-element-fc4da55 .elementor-button {
    background-color: #22222200;
    fill: var(--e-global-color-25dbee63);
    color: var(--e-global-color-25dbee63);
    border-style: solid;
    border-color: var(--e-global-color-25dbee63);
}

.elementor-5 .elementor-element.elementor-element-fc4da55 .elementor-button:hover,
.elementor-5 .elementor-element.elementor-element-fc4da55 .elementor-button:focus {
    background-color: var(--e-global-color-3677bc3a);
    border-color: var(--e-global-color-3677bc3a);
}

.elementor-5 .elementor-element.elementor-element-d13e9b1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-5 .elementor-element.elementor-element-d13e9b1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../beans-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-5 .elementor-element.elementor-element-d13e9b1>.elementor-element-populated>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #22222200 0%, var(--e-global-color-primary) 100%);
    opacity: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-5 .elementor-element.elementor-element-d13e9b1>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-5 .elementor-element.elementor-element-d13e9b1>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 300px 0px 50px 0px;
}

.elementor-5 .elementor-element.elementor-element-d13e9b1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-a472251>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-5 .elementor-element.elementor-element-a472251 {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-a472251 .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    color: #FFFFFF;
}

.elementor-5 .elementor-element.elementor-element-adfeffb .elementor-button {
    background-color: #22222200;
    fill: var(--e-global-color-25dbee63);
    color: var(--e-global-color-25dbee63);
    border-style: solid;
    border-color: var(--e-global-color-25dbee63);
}

.elementor-5 .elementor-element.elementor-element-adfeffb .elementor-button:hover,
.elementor-5 .elementor-element.elementor-element-adfeffb .elementor-button:focus {
    background-color: var(--e-global-color-3677bc3a);
    border-color: var(--e-global-color-3677bc3a);
}

.elementor-5 .elementor-element.elementor-element-67294f6 {
    padding: 020px 0px 0px 0px;
}

.elementor-5 .elementor-element.elementor-element-77478c4:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-5 .elementor-element.elementor-element-77478c4>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../dried-vegetables.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-5 .elementor-element.elementor-element-77478c4>.elementor-element-populated>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #78AA0000 0%, var(--e-global-color-primary) 100%);
    opacity: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-5 .elementor-element.elementor-element-77478c4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-5 .elementor-element.elementor-element-77478c4:hover>.elementor-element-populated>.elementor-background-overlay {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-5 .elementor-element.elementor-element-77478c4>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 300px 0px 50px 0px;
}

.elementor-5 .elementor-element.elementor-element-77478c4>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-8a95f33>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-5 .elementor-element.elementor-element-8a95f33 {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-8a95f33 .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    color: #FFFFFF;
}

.elementor-5 .elementor-element.elementor-element-99411ec .elementor-button {
    background-color: #22222200;
    fill: var(--e-global-color-25dbee63);
    color: var(--e-global-color-25dbee63);
    border-style: solid;
    border-color: var(--e-global-color-25dbee63);
}

.elementor-5 .elementor-element.elementor-element-99411ec .elementor-button:hover,
.elementor-5 .elementor-element.elementor-element-99411ec .elementor-button:focus {
    background-color: var(--e-global-color-3677bc3a);
    border-color: var(--e-global-color-3677bc3a);
}

.elementor-5 .elementor-element.elementor-element-5f412c9:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-5 .elementor-element.elementor-element-5f412c9>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../frozen_foods2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-5 .elementor-element.elementor-element-5f412c9>.elementor-element-populated>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #22222200 0%, var(--e-global-color-primary) 100%);
    opacity: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-5 .elementor-element.elementor-element-5f412c9>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-5 .elementor-element.elementor-element-5f412c9>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 300px 0px 30px 0px;
}

.elementor-5 .elementor-element.elementor-element-5f412c9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-ba33f2f>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-5 .elementor-element.elementor-element-ba33f2f {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-ba33f2f .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-size: 40px;
    color: #FFFFFF;
}

.elementor-5 .elementor-element.elementor-element-e850041 .elementor-button {
    background-color: #22222200;
    fill: var(--e-global-color-25dbee63);
    color: var(--e-global-color-25dbee63);
    border-style: solid;
    border-color: var(--e-global-color-25dbee63);
}

.elementor-5 .elementor-element.elementor-element-e850041 .elementor-button:hover,
.elementor-5 .elementor-element.elementor-element-e850041 .elementor-button:focus {
    background-color: var(--e-global-color-3677bc3a);
    border-color: var(--e-global-color-3677bc3a);
}

.elementor-5 .elementor-element.elementor-element-75b7ae4:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-5 .elementor-element.elementor-element-75b7ae4>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../froze-vegetables.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-5 .elementor-element.elementor-element-75b7ae4>.elementor-element-populated>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #22222200 0%, var(--e-global-color-primary) 100%);
    opacity: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-5 .elementor-element.elementor-element-75b7ae4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-5 .elementor-element.elementor-element-75b7ae4>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 300px 0px 50px 0px;
}

.elementor-5 .elementor-element.elementor-element-75b7ae4>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-efb5e6e>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-5 .elementor-element.elementor-element-efb5e6e {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-efb5e6e .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    color: #FFFFFF;
}

.elementor-5 .elementor-element.elementor-element-fc00aec .elementor-button {
    background-color: #22222200;
    fill: var(--e-global-color-25dbee63);
    color: var(--e-global-color-25dbee63);
    border-style: solid;
    border-color: var(--e-global-color-25dbee63);
}

.elementor-5 .elementor-element.elementor-element-fc00aec .elementor-button:hover,
.elementor-5 .elementor-element.elementor-element-fc00aec .elementor-button:focus {
    background-color: var(--e-global-color-3677bc3a);
    border-color: var(--e-global-color-3677bc3a);
}

.elementor-5 .elementor-element.elementor-element-ceb75ee:not(.elementor-motion-effects-element-type-background),
.elementor-5 .elementor-element.elementor-element-ceb75ee>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F7F7F7;
}

.elementor-5 .elementor-element.elementor-element-ceb75ee {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 90px 0px 90px 0px;
}

.elementor-5 .elementor-element.elementor-element-ceb75ee>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-1adae77>.elementor-widget-container {
    padding: 0px 0px 40px 0px;
}

.elementor-5 .elementor-element.elementor-element-1adae77 {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-610d389 {
    padding: 0px 0px 60px 0px;
}

.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box.elementor-view-framed .elementor-icon,
.elementor-widget-icon-box.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title {
    color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title,
.elementor-widget-icon-box .elementor-icon-box-title a {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
}

.elementor-widget-icon-box .elementor-icon-box-description {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
}

.elementor-5 .elementor-element.elementor-element-688166c .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-5 .elementor-element.elementor-element-688166c {
    --icon-box-icon-margin: 20px;
}

.elementor-5 .elementor-element.elementor-element-688166c.elementor-view-stacked .elementor-icon {
    background-color: #93C024;
}

.elementor-5 .elementor-element.elementor-element-688166c.elementor-view-framed .elementor-icon,
.elementor-5 .elementor-element.elementor-element-688166c.elementor-view-default .elementor-icon {
    fill: #93C024;
    color: #93C024;
    border-color: #93C024;
}

.elementor-5 .elementor-element.elementor-element-688166c .elementor-icon {
    font-size: 50px;
}

.elementor-5 .elementor-element.elementor-element-ca4a227 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-5 .elementor-element.elementor-element-ca4a227 {
    --icon-box-icon-margin: 20px;
}

.elementor-5 .elementor-element.elementor-element-ca4a227.elementor-view-stacked .elementor-icon {
    background-color: #93C024;
}

.elementor-5 .elementor-element.elementor-element-ca4a227.elementor-view-framed .elementor-icon,
.elementor-5 .elementor-element.elementor-element-ca4a227.elementor-view-default .elementor-icon {
    fill: #93C024;
    color: #93C024;
    border-color: #93C024;
}

.elementor-5 .elementor-element.elementor-element-ca4a227 .elementor-icon {
    font-size: 50px;
}

.elementor-5 .elementor-element.elementor-element-1c35693 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-5 .elementor-element.elementor-element-1c35693 {
    --icon-box-icon-margin: 20px;
}

.elementor-5 .elementor-element.elementor-element-1c35693.elementor-view-stacked .elementor-icon {
    background-color: #93C024;
}

.elementor-5 .elementor-element.elementor-element-1c35693.elementor-view-framed .elementor-icon,
.elementor-5 .elementor-element.elementor-element-1c35693.elementor-view-default .elementor-icon {
    fill: #93C024;
    color: #93C024;
    border-color: #93C024;
}

.elementor-5 .elementor-element.elementor-element-1c35693 .elementor-icon {
    font-size: 50px;
}

.elementor-5 .elementor-element.elementor-element-21206e8 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-5 .elementor-element.elementor-element-21206e8 {
    --icon-box-icon-margin: 20px;
}

.elementor-5 .elementor-element.elementor-element-21206e8.elementor-view-stacked .elementor-icon {
    background-color: #93C024;
}

.elementor-5 .elementor-element.elementor-element-21206e8.elementor-view-framed .elementor-icon,
.elementor-5 .elementor-element.elementor-element-21206e8.elementor-view-default .elementor-icon {
    fill: #93C024;
    color: #93C024;
    border-color: #93C024;
}

.elementor-5 .elementor-element.elementor-element-21206e8 .elementor-icon {
    font-size: 50px;
}

.elementor-5 .elementor-element.elementor-element-89d7e0e .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-5 .elementor-element.elementor-element-89d7e0e {
    --icon-box-icon-margin: 20px;
}

.elementor-5 .elementor-element.elementor-element-89d7e0e.elementor-view-stacked .elementor-icon {
    background-color: #93C024;
}

.elementor-5 .elementor-element.elementor-element-89d7e0e.elementor-view-framed .elementor-icon,
.elementor-5 .elementor-element.elementor-element-89d7e0e.elementor-view-default .elementor-icon {
    fill: #93C024;
    color: #93C024;
    border-color: #93C024;
}

.elementor-5 .elementor-element.elementor-element-89d7e0e .elementor-icon {
    font-size: 50px;
}

.elementor-5 .elementor-element.elementor-element-068c64a .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-5 .elementor-element.elementor-element-068c64a {
    --icon-box-icon-margin: 20px;
}

.elementor-5 .elementor-element.elementor-element-068c64a.elementor-view-stacked .elementor-icon {
    background-color: #93C024;
}

.elementor-5 .elementor-element.elementor-element-068c64a.elementor-view-framed .elementor-icon,
.elementor-5 .elementor-element.elementor-element-068c64a.elementor-view-default .elementor-icon {
    fill: #93C024;
    color: #93C024;
    border-color: #93C024;
}

.elementor-5 .elementor-element.elementor-element-068c64a .elementor-icon {
    font-size: 50px;
}

.elementor-5 .elementor-element.elementor-element-7faf4da2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 80px 0px 100px 0px;
}

.elementor-5 .elementor-element.elementor-element-0df4a51>.elementor-widget-container {
    padding: 0px 100px 60px 100px;
}

.elementor-5 .elementor-element.elementor-element-0df4a51 .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-32df794 {
    --e-image-carousel-slides-to-show: 4;
}

.elementor-5 .elementor-element.elementor-element-32df794 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-5 .elementor-element.elementor-element-32df794 .elementor-swiper-button.elementor-swiper-button-next {
    color: var(--e-global-color-primary);
}

.elementor-5 .elementor-element.elementor-element-32df794 .elementor-swiper-button.elementor-swiper-button-prev svg,
.elementor-5 .elementor-element.elementor-element-32df794 .elementor-swiper-button.elementor-swiper-button-next svg {
    fill: var(--e-global-color-primary);
}

.elementor-5 .elementor-element.elementor-element-32df794 .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-5 .elementor-element.elementor-element-5366b20:not(.elementor-motion-effects-element-type-background),
.elementor-5 .elementor-element.elementor-element-5366b20>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F7F7F7;
}

.elementor-5 .elementor-element.elementor-element-5366b20 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 90px 0px 90px 0px;
}

.elementor-5 .elementor-element.elementor-element-5366b20>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-9f43ec7>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-5 .elementor-element.elementor-element-9f43ec7 .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-5 .elementor-element.elementor-element-a42efda .elementor-button {
    background-color: #00000000;
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-3677bc3a);
}

.elementor-5 .elementor-element.elementor-element-a42efda .elementor-button:hover,
.elementor-5 .elementor-element.elementor-element-a42efda .elementor-button:focus {
    background-color: var(--e-global-color-3677bc3a);
    color: #FFFFFF;
}

.elementor-5 .elementor-element.elementor-element-a42efda .elementor-button:hover svg,
.elementor-5 .elementor-element.elementor-element-a42efda .elementor-button:focus svg {
    fill: #FFFFFF;
}

body.elementor-page-5:not(.elementor-motion-effects-element-type-background),
body.elementor-page-5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

:root {
    --page-title-display: none;
}

@media(min-width:1025px) {

    .elementor-5 .elementor-element.elementor-element-986499c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-5 .elementor-element.elementor-element-986499c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }

    .elementor-5 .elementor-element.elementor-element-39cd52c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-5 .elementor-element.elementor-element-39cd52c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }

    .elementor-5 .elementor-element.elementor-element-1bd3817:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-5 .elementor-element.elementor-element-1bd3817>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }

    .elementor-5 .elementor-element.elementor-element-f0e1de7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-5 .elementor-element.elementor-element-f0e1de7>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }

    .elementor-5 .elementor-element.elementor-element-f3dcb07:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-5 .elementor-element.elementor-element-f3dcb07>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }

    .elementor-5 .elementor-element.elementor-element-d13e9b1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-5 .elementor-element.elementor-element-d13e9b1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }

    .elementor-5 .elementor-element.elementor-element-77478c4:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-5 .elementor-element.elementor-element-77478c4>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }

    .elementor-5 .elementor-element.elementor-element-5f412c9:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-5 .elementor-element.elementor-element-5f412c9>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }

    .elementor-5 .elementor-element.elementor-element-75b7ae4:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-5 .elementor-element.elementor-element-75b7ae4>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }
}

@media(max-width:1024px) {
    .elementor-5 .elementor-element.elementor-element-2197e355 {
        padding: 70px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-421a76e>.elementor-widget-container {
        padding: 0px 75px 0px 75px;
    }

    .elementor-5 .elementor-element.elementor-element-421a76e .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-5 .elementor-element.elementor-element-97c1248>.elementor-widget-container {
        padding: 0px 100px 0px 100px;
    }

    .elementor-5 .elementor-element.elementor-element-0a1174c {
        padding: 60px 0px 60px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-13032e2 {
        padding: 0px 25px 20px 25px;
    }

    .elementor-5 .elementor-element.elementor-element-1076a49 {
        padding: 60px 0px 60px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-5cb6aa2>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-65d2446>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-cd5562a {
        padding: 0px 0px 5px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-986499c>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 200px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-29afaef .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-5 .elementor-element.elementor-element-39cd52c>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 200px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-1918f0a .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-5 .elementor-element.elementor-element-1bd3817>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 200px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-bd75320 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-5 .elementor-element.elementor-element-e48860c {
        padding: 10px 0px 5px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-f0e1de7>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 200px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-6498e8e .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-5 .elementor-element.elementor-element-f3dcb07>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 200px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-a76303f .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-5 .elementor-element.elementor-element-d13e9b1>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 200px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-a472251 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-5 .elementor-element.elementor-element-67294f6 {
        padding: 10px 0px 5px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-77478c4>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 200px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-8a95f33 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-5 .elementor-element.elementor-element-5f412c9>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 200px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-ba33f2f .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-5 .elementor-element.elementor-element-75b7ae4>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 200px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-efb5e6e .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-5 .elementor-element.elementor-element-ceb75ee {
        padding: 60px 0px 60px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-1adae77>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-610d389 {
        padding: 0px 0px 40px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-7faf4da2 {
        padding: 40px 0px 60px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-9976620 {
        padding: 0px 0px 40px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-0df4a51>.elementor-widget-container {
        padding: 0px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-32df794 {
        --e-image-carousel-slides-to-show: 2;
    }

    .elementor-5 .elementor-element.elementor-element-5366b20 {
        padding: 60px 5px 60px 5px;
    }
}

@media(max-width:767px) {

    .elementor-5 .elementor-element.elementor-element-2197e355:not(.elementor-motion-effects-element-type-background),
    .elementor-5 .elementor-element.elementor-element-2197e355>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-image: url("../../apple-slide-mobile.jpg");
    }

    .elementor-5 .elementor-element.elementor-element-2197e355 {
        padding: 270px 0px 210px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-421a76e>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-421a76e .elementor-heading-title {
        font-size: 43px;
        line-height: 1.1em;
    }

    .elementor-5 .elementor-element.elementor-element-97c1248>.elementor-widget-container {
        padding: 0px 5px 0px 5px;
    }

    .elementor-5 .elementor-element.elementor-element-0a1174c {
        padding: 60px 0px 60px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-13032e2 {
        padding: 0px 5px 20px 5px;
    }

    .elementor-5 .elementor-element.elementor-element-1076a49 {
        padding: 60px 0px 60px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-5cb6aa2>.elementor-widget-container {
        padding: 0px 0px 10px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-65d2446>.elementor-widget-container {
        padding: 0px 5px 0px 5px;
    }

    .elementor-5 .elementor-element.elementor-element-cd5562a {
        padding: 0px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-986499c>.elementor-element-populated {
        margin: 0px 5px 10px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 250px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-39cd52c>.elementor-element-populated {
        margin: 10px 5px 10px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 250px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-1bd3817>.elementor-element-populated {
        margin: 10px 5px 0px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 250px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-e48860c {
        padding: 20px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-f0e1de7>.elementor-element-populated {
        margin: 0px 5px 10px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 250px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-f3dcb07>.elementor-element-populated {
        margin: 10px 5px 10px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 250px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-d13e9b1>.elementor-element-populated {
        margin: 10px 5px 0px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 250px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-67294f6 {
        padding: 20px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-77478c4>.elementor-element-populated {
        margin: 0px 5px 10px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 250px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-5f412c9>.elementor-element-populated {
        margin: 10px 5px 10px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 250px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-75b7ae4>.elementor-element-populated {
        margin: 10px 5px 0px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 250px 0px 50px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-ceb75ee {
        padding: 60px 0px 60px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-1adae77>.elementor-widget-container {
        padding: 0px 30px 0px 30px;
    }

    .elementor-5 .elementor-element.elementor-element-610d389 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-688166c>.elementor-widget-container {
        padding: 30px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-ca4a227>.elementor-widget-container {
        padding: 60px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-1c35693>.elementor-widget-container {
        padding: 60px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-21206e8>.elementor-widget-container {
        padding: 60px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-89d7e0e>.elementor-widget-container {
        padding: 60px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-068c64a>.elementor-widget-container {
        padding: 60px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-7faf4da2 {
        padding: 60px 0px 70px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-9976620 {
        padding: 0px 0px 30px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-0df4a51>.elementor-widget-container {
        padding: 0px 5px 50px 5px;
    }

    .elementor-5 .elementor-element.elementor-element-32df794 {
        --e-image-carousel-slides-to-show: 1;
    }

    .elementor-5 .elementor-element.elementor-element-5366b20 {
        padding: 60px 0px 60px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-c809e3b>.elementor-element-populated {
        padding: 0px 1px 0px 1px;
    }

    .elementor-5 .elementor-element.elementor-element-9f43ec7>.elementor-widget-container {
        padding: 0px 5px 20px 5px;
    }
}