{% extends "base.html" %}
{% block content %}

<main id="main" class="site-main clr" role="main">



	<header class="page-header background-image-page-header">


		<div class="container clr page-header-inner">


			<h1 class="page-header-title clr" itemprop="headline">Доставка</h1>




		</div><!-- .page-header-inner -->

		<span class="background-image-page-header-overlay"></span>

	</header><!-- .page-header -->

	<div data-elementor-type="wp-page" data-elementor-id="8623" class="elementor elementor-8623">
		<section
			class="elementor-section elementor-top-section elementor-element elementor-element-a8adce8 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
			data-id="a8adce8" data-element_type="section">
			<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-53e53fb0"
					data-id="53e53fb0" data-element_type="column">
					<div class="elementor-widget-wrap elementor-element-populated">
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-829edf2 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="829edf2" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-a7accd8"
									data-id="a7accd8" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-693f52f5 elementor-widget elementor-widget-text-editor"
											data-id="693f52f5" data-element_type="widget"
											data-widget_type="text-editor.default">
											<div class="elementor-widget-container">
												<p>Мы понимаем, как важно получить заказы вовремя и в
													качественном виде. Поэтому мы организуем доставку таким
													образом, чтобы продукция прибывала к вам в наилучшем
													состоянии и точно в срок. Мы заботимся о том, чтобы вы
													получили свою продукцию вовремя и в идеальном состоянии,
													потому что ваше доверие — наш главный приоритет.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-7947fdb5 elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="7947fdb5" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-24d9be76"
									data-id="24d9be76" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-51c4732e elementor-widget elementor-widget-text-editor"
											data-id="51c4732e" data-element_type="widget"
											data-widget_type="text-editor.default">
											<div class="elementor-widget-container">
												<h2>Условия доставки</h2>
												<p><strong>Сроки:</strong> Мы тщательно планируем маршруты,
													чтобы минимизировать время в пути и обеспечить
													максимальную свежесть продукции.</p>
												<p><strong>География доставки:</strong> Мы доставляем
													продукцию по всему миру.</p>
												<p><strong>Условия транспортировки:</strong> Наши свежие
													продукции перевозятся в современных рефрижераторных
													машинах, обеспечивающих оптимальную температуру и
													влажность на протяжении всего пути.</p>
												<p><strong>Гибкость:</strong> Мы предлагаем индивидуальные
													решения по доставке в зависимости от объемов и
													потребностей вашего бизнеса.</p>
												<p><strong>Безопасность:</strong> Вся продукция тщательно
													упаковывается и закрепляется в транспортных средствах,
													чтобы гарантировать отсутствие повреждений при
													транспортировке.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-25633115"
									data-id="25633115" data-element_type="column"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-widget-wrap">
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-228ebd56 elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="228ebd56" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5715385"
									data-id="5715385" data-element_type="column"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-widget-wrap">
									</div>
								</div>
								<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6befa2df"
									data-id="6befa2df" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-19d36ab4 elementor-widget elementor-widget-text-editor"
											data-id="19d36ab4" data-element_type="widget"
											data-widget_type="text-editor.default">
											<div class="elementor-widget-container">
												<h2>Специальные условия</h2>
												<p><strong>Экспресс-доставка:</strong> Для срочных заказов
													доступна услуга экспресс-доставки.</p>
												<p><strong>Отслеживание груза:</strong> Вы всегда можете
													отследить статус вашего заказа в режиме реального
													времени, получая уведомления на каждом этапе доставки.
												</p>
												<p><strong>Поддержка:</strong> Наша команда всегда на связи
													и готова ответить на любые вопросы, связанные с
													доставкой.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-5a7de3e0 elementor-hidden-desktop elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="5a7de3e0" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-5de325df"
									data-id="5de325df" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-1d575b79 e-flex e-con-boxed e-con e-parent"
											data-id="1d575b79" data-element_type="container"
											data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
											<div class="e-con-inner">
											</div>
										</div>
										<div class="elementor-element elementor-element-2a7b6394 elementor-widget elementor-widget-text-editor"
											data-id="2a7b6394" data-element_type="widget"
											data-widget_type="text-editor.default">
											<div class="elementor-widget-container">
												<h2>Условия доставки</h2>
												<p><strong>Сроки:</strong> Мы тщательно планируем маршруты,
													чтобы минимизировать время в пути и обеспечить
													максимальную свежесть продукции.</p>
												<p><strong>География доставки:</strong> Мы доставляем
													продукцию по всему миру.</p>
												<p><strong>Условия транспортировки:</strong> Наши свежие
													продукции перевозятся в современных рефрижераторных
													машинах, обеспечивающих оптимальную температуру и
													влажность на протяжении всего пути.</p>
												<p><strong>Гибкость:</strong> Мы предлагаем индивидуальные
													решения по доставке в зависимости от объемов и
													потребностей вашего бизнеса.</p>
												<p><strong>Безопасность:</strong> Вся продукция тщательно
													упаковывается и закрепляется в транспортных средствах,
													чтобы гарантировать отсутствие повреждений при
													транспортировке.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-7423e9b4 elementor-hidden-desktop elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="7423e9b4" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-40a9c216"
									data-id="40a9c216" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-5ba43bd9 e-flex e-con-boxed e-con e-parent"
											data-id="5ba43bd9" data-element_type="container"
											data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
											<div class="e-con-inner">
											</div>
										</div>
										<div class="elementor-element elementor-element-3fbbf41d elementor-widget elementor-widget-text-editor"
											data-id="3fbbf41d" data-element_type="widget"
											data-widget_type="text-editor.default">
											<div class="elementor-widget-container">
												<h2>Специальные условия</h2>
												<p><strong>Экспресс-доставка:</strong> Для срочных заказов
													доступна услуга экспресс-доставки.</p>
												<p><strong>Отслеживание груза:</strong> Вы всегда можете
													отследить статус вашего заказа в режиме реального
													времени, получая уведомления на каждом этапе доставки.
												</p>
												<p><strong>Поддержка:</strong> Наша команда всегда на связи
													и готова ответить на любые вопросы, связанные с
													доставкой.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
		<section
			class="elementor-section elementor-top-section elementor-element elementor-element-36e09a9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
			data-id="36e09a9" data-element_type="section"
			data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-518ca891"
					data-id="518ca891" data-element_type="column">
					<div class="elementor-widget-wrap elementor-element-populated">
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-1f556d87 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="1f556d87" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-42577ccf"
									data-id="42577ccf" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-16cb98e2 elementor-widget elementor-widget-image-box"
											data-id="16cb98e2" data-element_type="widget"
											data-widget_type="image-box.default">
											<div class="elementor-widget-container">
												<div class="elementor-image-box-wrapper">
													<div class="elementor-image-box-content">
														<h2 class="elementor-image-box-title">Получите
															лучшее предложение</h2>
														<p class="elementor-image-box-description">Оставьте
															заявку для получения предложения, и мы свяжемся
															с вами в ближайшее время.</p>
													</div>
												</div>
											</div>
										</div>
										<div class="elementor-element elementor-element-476c58f elementor-align-center elementor-mobile-align-center omw-open-modal elementor-widget elementor-widget-button"
											data-id="476c58f" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-button-link elementor-size-md"
														href="../index.html@p=8623.html#omw-7620">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">Оставить
																заявку</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
	</div>

</main><!-- #main -->

{% endblock %}