{% extends 'base.html' %}

{% load static %}


{% block content %}
	


			<main id="main" class="site-main clr" role="main">

				<div data-elementor-type="wp-page" data-elementor-id="5" class="elementor elementor-5">
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-2197e355 elementor-section-height-full elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
						data-id="2197e355" data-element_type="section"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-background-overlay"></div>
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7bff88d1"
								data-id="7bff88d1" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-421a76e elementor-widget elementor-widget-heading"
										data-id="421a76e" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default">Только
												качественные и натуральные</h2>
										</div>
									</div>
									<div class="elementor-element elementor-element-97c1248 elementor-widget elementor-widget-text-editor"
										data-id="97c1248" data-element_type="widget"
										data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Мы поставляем натуральные фрукты и овощи, выращенные в соответствии с
												мировыми стандартами качества.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-0a1174c elementor-section-full_width elementor-section-height-default elementor-section-height-default"
						data-id="0a1174c" data-element_type="section"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0b63de3"
								data-id="0b63de3" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<section
										class="elementor-section elementor-inner-section elementor-element elementor-element-13032e2 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
										data-id="13032e2" data-element_type="section">
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-58ee67b"
												data-id="58ee67b" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-6d83268 elementor-widget elementor-widget-image-box"
														data-id="6d83268" data-element_type="widget"
														data-widget_type="image-box.default">
														<div class="elementor-widget-container">
															<div class="elementor-image-box-wrapper">
																<div class="elementor-image-box-content">
																	<h2 class="elementor-image-box-title">О компании
																	</h2>
																	<p class="elementor-image-box-description"><b>Fruit
																			Exim</b> — ведущая экспортная компания из
																		Узбекистана, предлагающая широкий ассортимент
																		натуральных и высококачественных плодоовощных
																		продукции. </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
									<section
										class="elementor-section elementor-inner-section elementor-element elementor-element-9fb2497 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
										data-id="9fb2497" data-element_type="section">
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-0a6a89b"
												data-id="0a6a89b" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-46117f3 elementor-align-center elementor-widget elementor-widget-button"
														data-id="46117f3" data-element_type="widget"
														data-widget_type="button.default">
														<div class="elementor-widget-container">
															<div class="elementor-button-wrapper">
																<a class="elementor-button elementor-button-link elementor-size-md"
																	href="{% url 'about' %}">
																	<span class="elementor-button-content-wrapper">
																		<span class="elementor-button-text">Узнать
																			больше</span>
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-1076a49 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
						data-id="1076a49" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-59ccc33"
								data-id="59ccc33" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-5cb6aa2 elementor-widget elementor-widget-heading"
										data-id="5cb6aa2" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default">Наша продукция
											</h2>
										</div>
									</div>
									<div class="elementor-element elementor-element-65d2446 elementor-widget elementor-widget-text-editor"
										data-id="65d2446" data-element_type="widget"
										data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Выбирая нашу продукцию, вы получаете не только вкусные и полезные
												продукции, но и уверенность в их качестве и безопасности.</p>
										</div>
									</div>
									<section
										class="elementor-section elementor-inner-section elementor-element elementor-element-cd5562a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
										data-id="cd5562a" data-element_type="section">
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-986499c"
												data-id="986499c" data-element_type="column"
												data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-background-overlay"></div>
													<div class="elementor-element elementor-element-29afaef elementor-widget elementor-widget-heading"
														data-id="29afaef" data-element_type="widget"
														data-widget_type="heading.default">
														<div class="elementor-widget-container">
															<h1 class="elementor-heading-title elementor-size-default">
																<a href="index.html@p=129.html">Свежие <br>
																	фрукты</a></h1>
														</div>
													</div>
													<div class="elementor-element elementor-element-77e4858 elementor-align-center elementor-widget elementor-widget-button"
														data-id="77e4858" data-element_type="widget"
														data-widget_type="button.default">
														<div class="elementor-widget-container">
															<div class="elementor-button-wrapper">
																<a class="elementor-button elementor-button-link elementor-size-sm"
																	href="index.html@p=129.html">
																	<span class="elementor-button-content-wrapper">
																		<span
																			class="elementor-button-text">Посмотреть</span>
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-39cd52c"
												data-id="39cd52c" data-element_type="column"
												data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-background-overlay"></div>
													<div class="elementor-element elementor-element-1918f0a elementor-widget elementor-widget-heading"
														data-id="1918f0a" data-element_type="widget"
														data-widget_type="heading.default">
														<div class="elementor-widget-container">
															<h1 class="elementor-heading-title elementor-size-default">
																<a href="index.html@p=131.html">Свежие <br>
																	овощи</a></h1>
														</div>
													</div>
													<div class="elementor-element elementor-element-a82ef91 elementor-align-center elementor-widget elementor-widget-button"
														data-id="a82ef91" data-element_type="widget"
														data-widget_type="button.default">
														<div class="elementor-widget-container">
															<div class="elementor-button-wrapper">
																<a class="elementor-button elementor-button-link elementor-size-sm"
																	href="index.html@p=131.html">
																	<span class="elementor-button-content-wrapper">
																		<span
																			class="elementor-button-text">Посмотреть</span>
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-1bd3817"
												data-id="1bd3817" data-element_type="column"
												data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-background-overlay"></div>
													<div class="elementor-element elementor-element-bd75320 elementor-widget elementor-widget-heading"
														data-id="bd75320" data-element_type="widget"
														data-widget_type="heading.default">
														<div class="elementor-widget-container">
															<h1 class="elementor-heading-title elementor-size-default">
																<a href="index.html@p=156.html">Бахчевые <br>
																	культуры</a></h1>
														</div>
													</div>
													<div class="elementor-element elementor-element-1d72b97 elementor-align-center elementor-widget elementor-widget-button"
														data-id="1d72b97" data-element_type="widget"
														data-widget_type="button.default">
														<div class="elementor-widget-container">
															<div class="elementor-button-wrapper">
																<a class="elementor-button elementor-button-link elementor-size-sm"
																	href="index.html@p=156.html">
																	<span class="elementor-button-content-wrapper">
																		<span
																			class="elementor-button-text">Посмотреть</span>
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
									<section
										class="elementor-section elementor-inner-section elementor-element elementor-element-e48860c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
										data-id="e48860c" data-element_type="section">
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f0e1de7"
												data-id="f0e1de7" data-element_type="column"
												data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-background-overlay"></div>
													<div class="elementor-element elementor-element-6498e8e elementor-widget elementor-widget-heading"
														data-id="6498e8e" data-element_type="widget"
														data-widget_type="heading.default">
														<div class="elementor-widget-container">
															<h1 class="elementor-heading-title elementor-size-default">
																<a href="index.html@p=4052.html"><br>
																	Cухофрукты</a></h1>
														</div>
													</div>
													<div class="elementor-element elementor-element-adcac67 elementor-align-center elementor-widget elementor-widget-button"
														data-id="adcac67" data-element_type="widget"
														data-widget_type="button.default">
														<div class="elementor-widget-container">
															<div class="elementor-button-wrapper">
																<a class="elementor-button elementor-button-link elementor-size-sm"
																	href="index.html@p=4052.html">
																	<span class="elementor-button-content-wrapper">
																		<span
																			class="elementor-button-text">Посмотреть</span>
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f3dcb07"
												data-id="f3dcb07" data-element_type="column"
												data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-background-overlay"></div>
													<div class="elementor-element elementor-element-a76303f elementor-widget elementor-widget-heading"
														data-id="a76303f" data-element_type="widget"
														data-widget_type="heading.default">
														<div class="elementor-widget-container">
															<h1 class="elementor-heading-title elementor-size-default">
																<a href="index.html@p=4054.html"><br>
																	Орехи</a></h1>
														</div>
													</div>
													<div class="elementor-element elementor-element-fc4da55 elementor-align-center elementor-widget elementor-widget-button"
														data-id="fc4da55" data-element_type="widget"
														data-widget_type="button.default">
														<div class="elementor-widget-container">
															<div class="elementor-button-wrapper">
																<a class="elementor-button elementor-button-link elementor-size-sm"
																	href="index.html@p=4054.html">
																	<span class="elementor-button-content-wrapper">
																		<span
																			class="elementor-button-text">Посмотреть</span>
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-d13e9b1"
												data-id="d13e9b1" data-element_type="column"
												data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-background-overlay"></div>
													<div class="elementor-element elementor-element-a472251 elementor-widget elementor-widget-heading"
														data-id="a472251" data-element_type="widget"
														data-widget_type="heading.default">
														<div class="elementor-widget-container">
															<h1 class="elementor-heading-title elementor-size-default">
																<a href="index.html@p=4057.html"><br>
																	Бобы</a></h1>
														</div>
													</div>
													<div class="elementor-element elementor-element-adfeffb elementor-align-center elementor-widget elementor-widget-button"
														data-id="adfeffb" data-element_type="widget"
														data-widget_type="button.default">
														<div class="elementor-widget-container">
															<div class="elementor-button-wrapper">
																<a class="elementor-button elementor-button-link elementor-size-sm"
																	href="index.html@p=4057.html">
																	<span class="elementor-button-content-wrapper">
																		<span
																			class="elementor-button-text">Посмотреть</span>
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
									<section
										class="elementor-section elementor-inner-section elementor-element elementor-element-67294f6 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
										data-id="67294f6" data-element_type="section">
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-77478c4"
												data-id="77478c4" data-element_type="column"
												data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-background-overlay"></div>
													<div class="elementor-element elementor-element-8a95f33 elementor-widget elementor-widget-heading"
														data-id="8a95f33" data-element_type="widget"
														data-widget_type="heading.default">
														<div class="elementor-widget-container">
															<h1 class="elementor-heading-title elementor-size-default">
																<a href="index.html@p=10405.html">Сушёные<br>
																	овощи</a></h1>
														</div>
													</div>
													<div class="elementor-element elementor-element-99411ec elementor-align-center elementor-widget elementor-widget-button"
														data-id="99411ec" data-element_type="widget"
														data-widget_type="button.default">
														<div class="elementor-widget-container">
															<div class="elementor-button-wrapper">
																<a class="elementor-button elementor-button-link elementor-size-sm"
																	href="index.html@p=10405.html">
																	<span class="elementor-button-content-wrapper">
																		<span
																			class="elementor-button-text">Посмотреть</span>
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5f412c9"
												data-id="5f412c9" data-element_type="column"
												data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-background-overlay"></div>
													<div class="elementor-element elementor-element-ba33f2f elementor-widget elementor-widget-heading"
														data-id="ba33f2f" data-element_type="widget"
														data-widget_type="heading.default">
														<div class="elementor-widget-container">
															<h1 class="elementor-heading-title elementor-size-default">
																<a href="index.html@p=10384.html">Замороженные<br>
																	фрукты</a></h1>
														</div>
													</div>
													<div class="elementor-element elementor-element-e850041 elementor-align-center elementor-widget elementor-widget-button"
														data-id="e850041" data-element_type="widget"
														data-widget_type="button.default">
														<div class="elementor-widget-container">
															<div class="elementor-button-wrapper">
																<a class="elementor-button elementor-button-link elementor-size-sm"
																	href="index.html@p=10384.html">
																	<span class="elementor-button-content-wrapper">
																		<span
																			class="elementor-button-text">Посмотреть</span>
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-75b7ae4"
												data-id="75b7ae4" data-element_type="column"
												data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-background-overlay"></div>
													<div class="elementor-element elementor-element-efb5e6e elementor-widget elementor-widget-heading"
														data-id="efb5e6e" data-element_type="widget"
														data-widget_type="heading.default">
														<div class="elementor-widget-container">
															<h1 class="elementor-heading-title elementor-size-default">
																<a href="index.html@p=10396.html">Замороженные<br>
																	овощи</a></h1>
														</div>
													</div>
													<div class="elementor-element elementor-element-fc00aec elementor-align-center elementor-widget elementor-widget-button"
														data-id="fc00aec" data-element_type="widget"
														data-widget_type="button.default">
														<div class="elementor-widget-container">
															<div class="elementor-button-wrapper">
																<a class="elementor-button elementor-button-link elementor-size-sm"
																	href="index.html@p=10396.html">
																	<span class="elementor-button-content-wrapper">
																		<span
																			class="elementor-button-text">Посмотреть</span>
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-ceb75ee elementor-section-full_width elementor-section-height-default elementor-section-height-default"
						data-id="ceb75ee" data-element_type="section"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e10b129"
								data-id="e10b129" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-1adae77 elementor-widget elementor-widget-heading"
										data-id="1adae77" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default">Почему выбирают
												нас</h2>
										</div>
									</div>
									<section
										class="elementor-section elementor-inner-section elementor-element elementor-element-610d389 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
										data-id="610d389" data-element_type="section">
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-d950193"
												data-id="d950193" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-688166c elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
														data-id="688166c" data-element_type="widget"
														data-widget_type="icon-box.default">
														<div class="elementor-widget-container">
															<div class="elementor-icon-box-wrapper">

																<div class="elementor-icon-box-icon">
																	<span class="elementor-icon">
																		<svg xmlns="http://www.w3.org/2000/svg"
																			xmlns:xlink="http://www.w3.org/1999/xlink"
																			id="&#x421;&#x43B;&#x43E;&#x439;_1" x="0px"
																			y="0px" viewBox="0 0 114.6 100.8"
																			style="enable-background:new 0 0 114.6 100.8;"
																			xml:space="preserve">
																			<style type="text/css">
																				.st0 {
																					fill: #38B556;
																				}
																			</style>
																			<path class="st0"
																				d="M11.1,100.8c16.6,0,48.3-2.8,70.8-22.3c31.7-27.6,32.8-78,32.8-78S64.4-5.2,32.8,22.3 C13.1,39.5,5.2,65.4,2.1,82.6C0.2,93.1,0,100.3,0,100.3S4.3,100.8,11.1,100.8z">
																			</path>
																		</svg> </span>
																</div>

																<div class="elementor-icon-box-content">

																	<h3 class="elementor-icon-box-title">
																		<span>
																			Высокое качество </span>
																	</h3>

																	<p class="elementor-icon-box-description">
																		Мы предлагаем только отборные плодоовощные
																		продукции, которые проходят строгий контроль
																		качества. Наша продукция производится с
																		соблюдением всех стандартов и норм, что
																		гарантирует её качественность и безопасность.
																	</p>

																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2509ed4"
												data-id="2509ed4" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-ca4a227 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
														data-id="ca4a227" data-element_type="widget"
														data-widget_type="icon-box.default">
														<div class="elementor-widget-container">
															<div class="elementor-icon-box-wrapper">

																<div class="elementor-icon-box-icon">
																	<span class="elementor-icon">
																		<svg xmlns="http://www.w3.org/2000/svg"
																			xmlns:xlink="http://www.w3.org/1999/xlink"
																			id="&#x421;&#x43B;&#x43E;&#x439;_1" x="0px"
																			y="0px" viewBox="0 0 114.6 100.8"
																			style="enable-background:new 0 0 114.6 100.8;"
																			xml:space="preserve">
																			<style type="text/css">
																				.st0 {
																					fill: #38B556;
																				}
																			</style>
																			<path class="st0"
																				d="M11.1,100.8c16.6,0,48.3-2.8,70.8-22.3c31.7-27.6,32.8-78,32.8-78S64.4-5.2,32.8,22.3 C13.1,39.5,5.2,65.4,2.1,82.6C0.2,93.1,0,100.3,0,100.3S4.3,100.8,11.1,100.8z">
																			</path>
																		</svg> </span>
																</div>

																<div class="elementor-icon-box-content">

																	<h3 class="elementor-icon-box-title">
																		<span>
																			Прямые поставки </span>
																	</h3>

																	<p class="elementor-icon-box-description">
																		Мы работаем напрямую с фермерами, что позволяет
																		нам поддерживать конкурентоспособные цены и
																		минимизировать время доставки. Это также
																		обеспечивает прозрачность и полную
																		прослеживаемость на всех этапах — от поля до
																		вашего склада. </p>

																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f73e7bd"
												data-id="f73e7bd" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-1c35693 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
														data-id="1c35693" data-element_type="widget"
														data-widget_type="icon-box.default">
														<div class="elementor-widget-container">
															<div class="elementor-icon-box-wrapper">

																<div class="elementor-icon-box-icon">
																	<span class="elementor-icon">
																		<svg xmlns="http://www.w3.org/2000/svg"
																			xmlns:xlink="http://www.w3.org/1999/xlink"
																			id="&#x421;&#x43B;&#x43E;&#x439;_1" x="0px"
																			y="0px" viewBox="0 0 114.6 100.8"
																			style="enable-background:new 0 0 114.6 100.8;"
																			xml:space="preserve">
																			<style type="text/css">
																				.st0 {
																					fill: #38B556;
																				}
																			</style>
																			<path class="st0"
																				d="M11.1,100.8c16.6,0,48.3-2.8,70.8-22.3c31.7-27.6,32.8-78,32.8-78S64.4-5.2,32.8,22.3 C13.1,39.5,5.2,65.4,2.1,82.6C0.2,93.1,0,100.3,0,100.3S4.3,100.8,11.1,100.8z">
																			</path>
																		</svg> </span>
																</div>

																<div class="elementor-icon-box-content">

																	<h3 class="elementor-icon-box-title">
																		<span>
																			Гибкие условия </span>
																	</h3>

																	<p class="elementor-icon-box-description">
																		Мы понимаем потребности каждого клиента и
																		предлагаем индивидуальные решения, которые
																		соответствуют вашим требованиям. Гибкие графики
																		поставок, различные объемы заказа и специальные
																		условия — всё это доступно для наших партнеров.
																	</p>

																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
									<section
										class="elementor-section elementor-inner-section elementor-element elementor-element-3313ca9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
										data-id="3313ca9" data-element_type="section">
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-56ab255"
												data-id="56ab255" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-21206e8 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
														data-id="21206e8" data-element_type="widget"
														data-widget_type="icon-box.default">
														<div class="elementor-widget-container">
															<div class="elementor-icon-box-wrapper">

																<div class="elementor-icon-box-icon">
																	<span class="elementor-icon">
																		<svg xmlns="http://www.w3.org/2000/svg"
																			xmlns:xlink="http://www.w3.org/1999/xlink"
																			id="&#x421;&#x43B;&#x43E;&#x439;_1" x="0px"
																			y="0px" viewBox="0 0 114.6 100.8"
																			style="enable-background:new 0 0 114.6 100.8;"
																			xml:space="preserve">
																			<style type="text/css">
																				.st0 {
																					fill: #38B556;
																				}
																			</style>
																			<path class="st0"
																				d="M11.1,100.8c16.6,0,48.3-2.8,70.8-22.3c31.7-27.6,32.8-78,32.8-78S64.4-5.2,32.8,22.3 C13.1,39.5,5.2,65.4,2.1,82.6C0.2,93.1,0,100.3,0,100.3S4.3,100.8,11.1,100.8z">
																			</path>
																		</svg> </span>
																</div>

																<div class="elementor-icon-box-content">

																	<h3 class="elementor-icon-box-title">
																		<span>
																			Своевременная доставка </span>
																	</h3>

																	<p class="elementor-icon-box-description">
																		Мы гарантируем, что ваша продукция будет
																		доставлена вовремя. Благодаря нашей
																		логистической сети и опыту, мы можем обеспечить
																		оперативную доставку по всему миру, независимо
																		от объема заказа. </p>

																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-d8abc15"
												data-id="d8abc15" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-89d7e0e elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
														data-id="89d7e0e" data-element_type="widget"
														data-widget_type="icon-box.default">
														<div class="elementor-widget-container">
															<div class="elementor-icon-box-wrapper">

																<div class="elementor-icon-box-icon">
																	<span class="elementor-icon">
																		<svg xmlns="http://www.w3.org/2000/svg"
																			xmlns:xlink="http://www.w3.org/1999/xlink"
																			id="&#x421;&#x43B;&#x43E;&#x439;_1" x="0px"
																			y="0px" viewBox="0 0 114.6 100.8"
																			style="enable-background:new 0 0 114.6 100.8;"
																			xml:space="preserve">
																			<style type="text/css">
																				.st0 {
																					fill: #38B556;
																				}
																			</style>
																			<path class="st0"
																				d="M11.1,100.8c16.6,0,48.3-2.8,70.8-22.3c31.7-27.6,32.8-78,32.8-78S64.4-5.2,32.8,22.3 C13.1,39.5,5.2,65.4,2.1,82.6C0.2,93.1,0,100.3,0,100.3S4.3,100.8,11.1,100.8z">
																			</path>
																		</svg> </span>
																</div>

																<div class="elementor-icon-box-content">

																	<h3 class="elementor-icon-box-title">
																		<span>
																			Поддержка и сервис </span>
																	</h3>

																	<p class="elementor-icon-box-description">
																		Наша команда всегда на связи, чтобы помочь вам
																		на каждом этапе — от оформления заказа до его
																		получения. Мы ценим долгосрочные партнерские
																		отношения и делаем всё, чтобы ваше
																		сотрудничество с нами было максимально удобным и
																		успешным. </p>

																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-de50bf1"
												data-id="de50bf1" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-068c64a elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
														data-id="068c64a" data-element_type="widget"
														data-widget_type="icon-box.default">
														<div class="elementor-widget-container">
															<div class="elementor-icon-box-wrapper">

																<div class="elementor-icon-box-icon">
																	<span class="elementor-icon">
																		<svg xmlns="http://www.w3.org/2000/svg"
																			xmlns:xlink="http://www.w3.org/1999/xlink"
																			id="&#x421;&#x43B;&#x43E;&#x439;_1" x="0px"
																			y="0px" viewBox="0 0 114.6 100.8"
																			style="enable-background:new 0 0 114.6 100.8;"
																			xml:space="preserve">
																			<style type="text/css">
																				.st0 {
																					fill: #38B556;
																				}
																			</style>
																			<path class="st0"
																				d="M11.1,100.8c16.6,0,48.3-2.8,70.8-22.3c31.7-27.6,32.8-78,32.8-78S64.4-5.2,32.8,22.3 C13.1,39.5,5.2,65.4,2.1,82.6C0.2,93.1,0,100.3,0,100.3S4.3,100.8,11.1,100.8z">
																			</path>
																		</svg> </span>
																</div>

																<div class="elementor-icon-box-content">

																	<h3 class="elementor-icon-box-title">
																		<span>
																			Инновации и развитие </span>
																	</h3>

																	<p class="elementor-icon-box-description">
																		Мы постоянно ищем новые пути улучшения нашей
																		продукции и сервиса. Внедрение современных
																		технологий, исследование новых рынков и
																		оптимизация процессов — всё это делает нас
																		лидером в отрасли. </p>

																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-7faf4da2 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
						data-id="7faf4da2" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e536ba5"
								data-id="e536ba5" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<section
										class="elementor-section elementor-inner-section elementor-element elementor-element-9976620 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
										data-id="9976620" data-element_type="section">
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-1803026"
												data-id="1803026" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-0df4a51 elementor-widget elementor-widget-image-box"
														data-id="0df4a51" data-element_type="widget"
														data-widget_type="image-box.default">
														<div class="elementor-widget-container">
															<div class="elementor-image-box-wrapper">
																<div class="elementor-image-box-content">
																	<h2 class="elementor-image-box-title">Наши клиенты
																	</h2>
																	<p class="elementor-image-box-description">Мы
																		гордимся сотрудничеством с ведущими розничными
																		сетями России и Белоруссии, а также с
																		крупнейшими импортерами в странах Европейского
																		Союза.</p>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-element elementor-element-32df794 elementor-arrows-position-outside elementor-widget elementor-widget-image-carousel"
														data-id="32df794" data-element_type="widget"
														data-settings="{&quot;slides_to_show&quot;:&quot;4&quot;,&quot;slides_to_scroll&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;arrows&quot;,&quot;pause_on_hover&quot;:&quot;no&quot;,&quot;pause_on_interaction&quot;:&quot;no&quot;,&quot;autoplay_speed&quot;:2000,&quot;slides_to_show_tablet&quot;:&quot;2&quot;,&quot;slides_to_show_mobile&quot;:&quot;1&quot;,&quot;speed&quot;:1000,&quot;autoplay&quot;:&quot;yes&quot;,&quot;infinite&quot;:&quot;yes&quot;}"
														data-widget_type="image-carousel.default">
														<div class="elementor-widget-container">
															<div class="elementor-image-carousel-wrapper swiper"
																role="region" aria-roledescription="carousel"
																aria-label="Карусель" dir="ltr">
																<div class="elementor-image-carousel swiper-wrapper"
																	aria-live="off">
																	<div class="swiper-slide" role="group"
																		aria-roledescription="slide"
																		aria-label="1 из 8">
																		<figure class="swiper-slide-inner"><img
																				decoding="async"
																				class="swiper-slide-image"
																				src="{% static 'wp-content/uploads/elementor/thumbs/magnit-logo-osxlqaw9ncr0sqxvfa113mvb3q9vtzgp0tf5sy0v7k.png' %}"
																				alt="magnit" />
																		</figure>
																	</div>
																	<div class="swiper-slide" role="group"
																		aria-roledescription="slide"
																		aria-label="2 из 8">
																		<figure class="swiper-slide-inner"><img
																				decoding="async"
																				class="swiper-slide-image"
																				src="{% static 'wp-content/uploads/elementor/thumbs/X5Group-pbb3csxg42tf00nn0tb2md33hiik4hbs6u1a5gupds.png' %}"
																				alt="X5Group" /></figure>
																	</div>
																	<div class="swiper-slide" role="group"
																		aria-roledescription="slide"
																		aria-label="3 из 8">
																		<figure class="swiper-slide-inner"><img
																				decoding="async"
																				class="swiper-slide-image"
																				src="{% static 'wp-content/uploads/elementor/thumbs/evroopt-logo-p7uep4rpu401vlkovxb4jginlzal91le2bjuhqfmyo.png' %}"
																				alt="evroopt" /></figure>
																	</div>
																	<div class="swiper-slide" role="group"
																		aria-roledescription="slide"
																		aria-label="4 из 8">
																		<figure class="swiper-slide-inner"><img
																				decoding="async"
																				class="swiper-slide-image"
																				src="{% static 'wp-content/uploads/elementor/thumbs/pokupochka-logo-osxlqbu3u6sb4cwi9sfno4mrp4591okfcy2na7zh1c.png ' %}"
																				alt="pokupochka" /></figure>
																	</div>
																	<div class="swiper-slide" role="group"
																		aria-roledescription="slide"
																		aria-label="5 из 8">
																		<figure class="swiper-slide-inner"><img
																				decoding="async"
																				class="swiper-slide-image"
																				src="{% static 'wp-content/uploads/elementor/thumbs/yartche-logo-ot39kuar4qnnqraxiehius3k6vjsz6ydb7nnth3klc.png ' %}"
																				alt="yarche" /></figure>
																	</div>
																	<div class="swiper-slide" role="group"
																		aria-roledescription="slide"
																		aria-label="6 из 8">
																		<figure class="swiper-slide-inner"><img
																				decoding="async"
																				class="swiper-slide-image"
																				src="{% static 'wp-content/uploads/elementor/thumbs/santa_logo-pcw9x5jhhlk87055b20wfvnqmxw0vrca541rhdnvgg.png ' %}"
																				alt="santa" /></figure>
																	</div>
																	<div class="swiper-slide" role="group"
																		aria-roledescription="slide"
																		aria-label="7 из 8">
																		<figure class="swiper-slide-inner"><img
																				decoding="async"
																				class="swiper-slide-image"
																				src="{% static 'wp-content/uploads/elementor/thumbs/logo-mariya-ra-qsjstmm89pv7gtc07tavbsaa3sbonduq2sa8x8yvi8.webp ' %}"
																				alt="logo-mariya-ra" /></figure>
																	</div>
																	<div class="swiper-slide" role="group"
																		aria-roledescription="slide"
																		aria-label="8 из 8">
																		<figure class="swiper-slide-inner"><img
																				decoding="async"
																				class="swiper-slide-image"
																				src="{% static 'wp-content/uploads/elementor/thumbs/sosedi-pfgp21nsed3ihjivdryu13iv5iu0e2atlopazx9reo.png ' %}"
																				alt="sosedi" /></figure>
																	</div>
																</div>
																<div class="elementor-swiper-button elementor-swiper-button-prev"
																	role="button" tabindex="0">
																	<svg aria-hidden="true"
																		class="e-font-icon-svg e-eicon-chevron-left"
																		viewBox="0 0 1000 1000"
																		xmlns="http://www.w3.org/2000/svg">
																		<path
																			d="M646 125C629 125 613 133 604 142L308 442C296 454 292 471 292 487 292 504 296 521 308 533L604 854C617 867 629 875 646 875 663 875 679 871 692 858 704 846 713 829 713 812 713 796 708 779 692 767L438 487 692 225C700 217 708 204 708 187 708 171 704 154 692 142 675 129 663 125 646 125Z">
																		</path>
																	</svg>
																</div>
																<div class="elementor-swiper-button elementor-swiper-button-next"
																	role="button" tabindex="0">
																	<svg aria-hidden="true"
																		class="e-font-icon-svg e-eicon-chevron-right"
																		viewBox="0 0 1000 1000"
																		xmlns="http://www.w3.org/2000/svg">
																		<path
																			d="M696 533C708 521 713 504 713 487 713 471 708 454 696 446L400 146C388 133 375 125 354 125 338 125 325 129 313 142 300 154 292 171 292 187 292 204 296 221 308 233L563 492 304 771C292 783 288 800 288 817 288 833 296 850 308 863 321 871 338 875 354 875 371 875 388 867 400 854L696 533Z">
																		</path>
																	</svg>
																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-5366b20 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
						data-id="5366b20" data-element_type="section"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c809e3b"
								data-id="c809e3b" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<section
										class="elementor-section elementor-inner-section elementor-element elementor-element-e755f8f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
										data-id="e755f8f" data-element_type="section">
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-01f3e05"
												data-id="01f3e05" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-9f43ec7 elementor-widget elementor-widget-image-box"
														data-id="9f43ec7" data-element_type="widget"
														data-widget_type="image-box.default">
														<div class="elementor-widget-container">
															<div class="elementor-image-box-wrapper">
																<div class="elementor-image-box-content">
																	<h2 class="elementor-image-box-title">Приглашаем к
																		сотрудничеству</h2>
																	<p class="elementor-image-box-description">Мы готовы
																		предложить лучшие условия для успешного и
																		взаимовыгодного сотрудничества.</p>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-element elementor-element-a42efda elementor-align-center elementor-mobile-align-center omw-open-modal elementor-widget elementor-widget-button"
														data-id="a42efda" data-element_type="widget"
														data-widget_type="button.default">
														<div class="elementor-widget-container">
															<div class="elementor-button-wrapper">
																<a class="elementor-button elementor-button-link elementor-size-md"
																	href="index.html#omw-7620">
																	<span class="elementor-button-content-wrapper">
																		<span class="elementor-button-text">Оставить
																			заявку</span>
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</section>
				</div>

			</main><!-- #main -->





		


	{% endblock %}
