{% extends "base.html" %}
{% load static %}

{% block content %}
<main id="main" class="site-main clr" role="main">



	<header class="page-header background-image-page-header">


		<div class="container clr page-header-inner">


			<h1 class="page-header-title clr" itemprop="headline">Наша продукция</h1>




		</div><!-- .page-header-inner -->

		<span class="background-image-page-header-overlay"></span>

	</header><!-- .page-header -->

	<div data-elementor-type="wp-page" data-elementor-id="139" class="elementor elementor-139">
		<section
			class="elementor-section elementor-top-section elementor-element elementor-element-446a14f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
			data-id="446a14f" data-element_type="section">
			<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2c3b02c"
					data-id="2c3b02c" data-element_type="column">
					<div class="elementor-widget-wrap elementor-element-populated">
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-6064375 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="6064375" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-cfb01b2"
									data-id="cfb01b2" data-element_type="column"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-background-overlay"></div>
										<div class="elementor-element elementor-element-d89756e elementor-widget elementor-widget-heading"
											data-id="d89756e" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h1 class="elementor-heading-title elementor-size-default"><a
														href="../index.html@p=129.html">Свежие <br>
														Фрукты</a></h1>
											</div>
										</div>
										<div class="elementor-element elementor-element-7b1e04d elementor-align-center elementor-widget elementor-widget-button"
											data-id="7b1e04d" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-button-link elementor-size-sm"
														href="../index.html@p=129.html">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">Посмотреть</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-711817a"
									data-id="711817a" data-element_type="column"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-background-overlay"></div>
										<div class="elementor-element elementor-element-79a7dae elementor-widget elementor-widget-heading"
											data-id="79a7dae" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h1 class="elementor-heading-title elementor-size-default"><a
														href="../index.html@p=131.html">Свежие <br>
														Овощи</a></h1>
											</div>
										</div>
										<div class="elementor-element elementor-element-3cc22a6 elementor-align-center elementor-widget elementor-widget-button"
											data-id="3cc22a6" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-button-link elementor-size-sm"
														href="../index.html@p=131.html">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">Посмотреть</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-41c7b40"
									data-id="41c7b40" data-element_type="column"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-background-overlay"></div>
										<div class="elementor-element elementor-element-8fd46fe elementor-widget elementor-widget-heading"
											data-id="8fd46fe" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h1 class="elementor-heading-title elementor-size-default"><a
														href="../index.html@p=156.html">Бахчевые <br>
														Культуры</a></h1>
											</div>
										</div>
										<div class="elementor-element elementor-element-1c66e9a elementor-align-center elementor-widget elementor-widget-button"
											data-id="1c66e9a" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-button-link elementor-size-sm"
														href="../index.html@p=156.html">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">Посмотреть</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-e53e27b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="e53e27b" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ece72f9"
									data-id="ece72f9" data-element_type="column"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-background-overlay"></div>
										<div class="elementor-element elementor-element-11a5783 elementor-widget elementor-widget-heading"
											data-id="11a5783" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h1 class="elementor-heading-title elementor-size-default"><a
														href="../index.html@p=4052.html"><br>
														Cухофрукты</a></h1>
											</div>
										</div>
										<div class="elementor-element elementor-element-11d0bfd elementor-align-center elementor-widget elementor-widget-button"
											data-id="11d0bfd" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-button-link elementor-size-sm"
														href="../index.html@p=4052.html">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">Посмотреть</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f3a1c7e"
									data-id="f3a1c7e" data-element_type="column"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-background-overlay"></div>
										<div class="elementor-element elementor-element-2cb9699 elementor-widget elementor-widget-heading"
											data-id="2cb9699" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h1 class="elementor-heading-title elementor-size-default"><a
														href="../index.html@p=4054.html"><br>
														Орехи</a></h1>
											</div>
										</div>
										<div class="elementor-element elementor-element-5d7ff30 elementor-align-center elementor-widget elementor-widget-button"
											data-id="5d7ff30" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-button-link elementor-size-sm"
														href="../index.html@p=4054.html">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">Посмотреть</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f24b150"
									data-id="f24b150" data-element_type="column"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-background-overlay"></div>
										<div class="elementor-element elementor-element-47d0bfd elementor-widget elementor-widget-heading"
											data-id="47d0bfd" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h1 class="elementor-heading-title elementor-size-default"><a
														href="../index.html@p=4057.html"><br>
														Бобы</a></h1>
											</div>
										</div>
										<div class="elementor-element elementor-element-994ddc5 elementor-align-center elementor-widget elementor-widget-button"
											data-id="994ddc5" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-button-link elementor-size-sm"
														href="../index.html@p=4057.html">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">Посмотреть</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-fa933c1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="fa933c1" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-31d7f89"
									data-id="31d7f89" data-element_type="column"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-background-overlay"></div>
										<div class="elementor-element elementor-element-1d26aba elementor-widget elementor-widget-heading"
											data-id="1d26aba" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h1 class="elementor-heading-title elementor-size-default"><a
														href="../index.html@p=10405.html">Сушёные<br>
														овощи</a></h1>
											</div>
										</div>
										<div class="elementor-element elementor-element-dea77de elementor-align-center elementor-widget elementor-widget-button"
											data-id="dea77de" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-button-link elementor-size-sm"
														href="../index.html@p=10405.html">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">Посмотреть</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-319585e"
									data-id="319585e" data-element_type="column"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-background-overlay"></div>
										<div class="elementor-element elementor-element-b77210b elementor-widget elementor-widget-heading"
											data-id="b77210b" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h1 class="elementor-heading-title elementor-size-default"><a
														href="../index.html@p=10384.html">Замороженные<br>
														фрукты</a></h1>
											</div>
										</div>
										<div class="elementor-element elementor-element-64713bc elementor-align-center elementor-widget elementor-widget-button"
											data-id="64713bc" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-button-link elementor-size-sm"
														href="../index.html@p=10384.html">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">Посмотреть</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-cea8ac3"
									data-id="cea8ac3" data-element_type="column"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-background-overlay"></div>
										<div class="elementor-element elementor-element-93213c7 elementor-widget elementor-widget-heading"
											data-id="93213c7" data-element_type="widget"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h1 class="elementor-heading-title elementor-size-default"><a
														href="../index.html@p=10396.html">Замороженные<br>
														овощи</a></h1>
											</div>
										</div>
										<div class="elementor-element elementor-element-da8a230 elementor-align-center elementor-widget elementor-widget-button"
											data-id="da8a230" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-button-link elementor-size-sm"
														href="../index.html@p=10396.html">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">Посмотреть</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
		<section
			class="elementor-section elementor-top-section elementor-element elementor-element-440af18a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
			data-id="440af18a" data-element_type="section"
			data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-39a37ed"
					data-id="39a37ed" data-element_type="column">
					<div class="elementor-widget-wrap elementor-element-populated">
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-5b8e184f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="5b8e184f" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-19cfd4f5"
									data-id="19cfd4f5" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-16241769 elementor-widget elementor-widget-image-box"
											data-id="16241769" data-element_type="widget"
											data-widget_type="image-box.default">
											<div class="elementor-widget-container">
												<div class="elementor-image-box-wrapper">
													<div class="elementor-image-box-content">
														<h2 class="elementor-image-box-title">Получите лучшее
															предложение</h2>
														<p class="elementor-image-box-description">Оставьте заявку для
															получения предложения, и мы свяжемся с вами в ближайшее
															время.</p>
													</div>
												</div>
											</div>
										</div>
										<div class="elementor-element elementor-element-6eed211a elementor-align-center elementor-mobile-align-center omw-open-modal elementor-widget elementor-widget-button"
											data-id="6eed211a" data-element_type="widget"
											data-widget_type="button.default">
											<div class="elementor-widget-container">
												<div class="elementor-button-wrapper">
													<a class="elementor-button elementor-button-link elementor-size-md"
														href="../index.html@p=139.html#omw-7620">
														<span class="elementor-button-content-wrapper">
															<span class="elementor-button-text">Оставить заявку</span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
	</div>

</main><!-- #main -->


{% endblock %}